* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #222;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 20%;
    transition: all 0.5s ease;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu li {
    margin-right: 16px;
}

.nav-menu li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all 0.5s ease;
}

.nav-menu>ul>li:hover {
    background: #05DA51;
    padding: 4px 12px;
    border-radius: 3.2px;
}

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.social-icons {
    font-size: 200%;
    display: block;
    justify-content: center;
    position: relative;
    flex-direction: row;
    align-items: center;
    min-width: 400px;
    justify-content: center;
    text-align: center;
    margin-top: 1vw;
}