@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #222;
    color: white;
    font-family: "Montserrat Alternates", sans-serif;
}

main {
    margin-top: 10%;
}

/* Header */
header {
    background-color: #1f1c1c;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    padding: 28px 0%;
    transition: all 0.5s ease;
    box-shadow: 0px 1px 13px rgba(5, 218, 81, 0.3);
    line-height: 50px;


}

.nav-menu ul {
    display: flex;
    margin-left: 70%;
}

.nav-menu li {
    margin-left: 20px;
    background-color: #1f1c1c;
    border-radius: 100px;
    box-shadow: 0px 1px 13px rgba(5, 218, 81, 1);
}

.nav-menu li a {
    color: #faf1f1;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 15px;
    transition: all 0.5s ease;
}

.nav-menu>ul>li:hover {
    transform: scale(1.05);
}

#info_numero {
    margin-left: 55vw;
}

.footer {
    padding-top: 1vw;
    margin-top: 20%;
    box-shadow: 0px 1px 13px rgba(5, 218, 81, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centrado */
}

.titulo_footer {
    text-align: center;
}

.informacion {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2vw;
}

#Redes {
    white-space: nowrap;
}

.iconos {
    display: flex;
    gap: 1rem;
}

.iconos i {
    font-size: 1.5rem;
}

.bottom {
    width: 100%;
    height: 100%;
    background-position: -5px -5px;
}

.bottomFlex {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

.topFlex {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

footer {
    font-family: none;
}

a {
    color: white;
}

.texto_inicio {
    padding: 7%;
}

.boton_compra {
    display: flex;
    justify-content: center;
}

@media (max-width: 1200px) {
    .nav-menu li {
        margin-left: 15px;
    }

    .nav-menu li a {
        font-size: 1rem;
    }

    main {
        margin-top: 8vw;
    }

    .texto_inicio {
        padding: 8%;
    }

    .topFlex {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }

}

@media (max-width: 992px) {
    header {
        padding: 20px 5%;
    }

    .nav-menu ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    #info_numero {
        margin-left: 0;
        text-align: center;
    }

    .topFlex {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}

@media (max-width: 768px) {
    .informacion {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .iconos i {
        font-size: 1.2rem;
    }

    .texto_inicio {
        padding: 5%;
        margin-right: 25%;
        margin-top: 5%;
    }

    .topFlex {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
}

@media (max-width: 576px) {
    .nav-menu li a {
        font-size: 0.9rem;
        padding: 4px 0;
    }

    .footer {
        padding: 2vw;
    }

    .boton_compra {
        flex-direction: column;
        width: 100%;
    }

    .texto_inicio {
        padding: 2%;
        margin-right: 25%;
    }

    .topFlex {
        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        right: 15%;
        position: relative;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px 5%;
    }

    .nav-menu ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .nav-menu li {
        margin: 5px 0;
    }

    .nav-menu li a {
        font-size: 0.85rem;
        padding: 8px 10px;
    }

    #info_numero {
        margin-left: 0;
        text-align: center;
    }

    .texto_inicio {
        padding: 5%;
        font-size: 0.9rem;
        margin-right: 25%;
    }

    .footer {
        padding: 10px;
    }

    .informacion {
        font-size: 0.9rem;
        flex-direction: column;
        align-items: center;
    }

    .iconos i {
        font-size: 1.5rem;
    }

    .boton_compra {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    main {
        margin-top: 25%;
    }


}