.days-btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin: 0 auto;
  margin-top: 5%;
  gap: 3%;
}

.day-btn {
  display: none;
}

.day-label {
  background: linear-gradient(135deg, #1a1a1a, #575757);
  font-size: 100%;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid #05DA51;
  border-radius: 100%;
  width: 10%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  margin-top: 2%;

}

.day-btn:checked+.day-label {
  background-color: #05DA51;
  background-image: linear-gradient(145deg, #2fd376, #05DA51);
  box-shadow: 0px 2px 3px 0px rgba(34, 34, 34, 0.9);
  transition: border-radius 0.2s, padding-top 0.2s;
  border: 2px solid #ffffff;
  color: white;
}


main {
  margin: 0 auto;
}



.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form input[type="text"],
.form input[type="tel"],
.form select {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  color: var(--bg-light);
  outline: 2px solid var(--bg-dark);
}

.form select option {
  background-color: var(--bg-dark);
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form select:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.span {
  text-decoration: none;
  color: var(--bg-dark);
}

.span a {
  color: var(--clr);
}

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #e0e0e0;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #5a5a5a;
  width: 40%;
  border-radius: 40px;
  color: #3b3b3b;
}

.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(235, 27, 27);
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-3d {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  border-width: 0;
  padding: 0 8px;
  min-width: 4em;
  min-height: 4em;
  box-sizing: border-box;
  background: transparent;
  font: inherit;
  cursor: pointer;
  margin: 10px;
  border-radius: 20px;
}

.button-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  padding: 8px 16px;
  transform: translateY(0);
  color: #000000;
  background-image: linear-gradient(145deg, #05DA51, #028A3D);
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: transform 0.3s, border-radius 0.3s, background 10s;
}

.button-3d:active .button-top {
  border-radius: 10px 10px 8px 8px / 8px;
  transform: translateY(2px);
  background-image: linear-gradient(145deg, #028A3D, #05DA51);
}

.button-bottom {
  position: absolute;
  z-index: 1;
  bottom: 4px;
  left: 4px;
  border-radius: 20px;
  padding-top: 6px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  background-image: linear-gradient(145deg, #028A3D, #05DA51);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  transition: border-radius 0.2s, padding-top 0.2s;
}

.button-base {
  position: absolute;
  z-index: 0;
  top: 4px;
  left: 0;
  border-radius: 20px;
  width: 100%;
  height: calc(100% - 4px);
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.75),
    inset 0 2px 2px rgba(0, 0, 0, 0.25);
  transition: border-radius 0.2s, padding-top 0.2s;
}

.button-3d:active .button-bottom {
  border-radius: 10px 10px 8px 8px / 8px;
  padding-top: 0;
}

.button-3d:active .button-base {
  border-radius: 10px 10px 8px 8px / 8px;
}

.numeros {

  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 7%;
  display: inline-block;
  border-radius: 3px;

}


@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }

  .days-btn-container {
    width: 80%;
  }

  .day-label {
    width: 10%;
    height: 7vw;
    margin: 0 5px;
    margin-top: 3%;

  }
}

@media (max-width: 425px) {
  .days-btn-container {
    width: 100%;
  }

  .day-label {
    width: 17%;
    height: 12vw;
    margin: 0 7px;
    margin-top: 4%;

  }

  main {
    margin: 10%;
  }
}

@media (max-width: 320px) {

  .day-label {
    width: 19%;
    height: 15vw;
    margin: 0 6px;
    margin-top: 4%;

  }

}