.resultado {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #070707;
    margin-top: 3%;
    border-radius: 15px;
    height: 100%;
    width: 30%;
    font-size: 80%;
}



.card2 {
    width: 240px;
    height: 254px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: #fff;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 3%;
    color: #333;
}

.card2>* {
    margin: 0;
}

.card__title2 {
    font-size: 23px;
    font-weight: 900;
    color: #333;
}

.card__content2 {
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.card__form2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card__form2 input {
    margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
}

.sign-up:hover {
    opacity: 0.8;
}