<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rifas el Trebol</title>
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/generales.css">
    <link rel="stylesheet" href="../css/Botones.css">
    <link rel="stylesheet" href="../css/card2.css">
    <script src="../js/archivo.js"></script>
    <style>
        .days-btn-container {
            max-height: 200px;
            overflow-y: auto;
            padding: 10px;
            margin-bottom: 4%;
        }
    </style>
</head>

<body>

    <header class="header">
        <nav class="navbar">
            <h1 class="logo">Logo</h1>

            <label class="labe_hamburguesa" for="menu_hamburguesa">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="list_icon"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </label>

            <input class="menu_hamburguesa" type="checkbox" name="" id="menu_hamburguesa">

            <ul class="ul_links">
                <li class="li_links">
                    <a href="../index.html" class="link">Inicio</a>
                </li>
                <li class="li_links">
                    <a href="rifas.html" class="link">Rifas</a>
                </li>
                <li class="li_links">
                    <a href="#Redes" class="link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="Flex">
            <section class="bottom">
                <button id="Suerte" onclick="botonComprarPorSuerte()"><span>&#128302;Prueba Tu Suerte</span></button>
                <button id="Numero" onclick="botonComprarPorNumero()"><span>&#128467; Comprar por numero</span></button>
            </section>
        </div>
        <div class="days-btn-container">
        </div>
        <form class="form">
            <div class="form-row">
                <span class="input-span">
                    <label for="nombre" class="label">Nombres y Apellidos*</label>
                    <input type="text" name="nombre" id="nombre" />
                </span>
            </div>
            <div class="form-row">
                <span class="input-span">
                    <label for="cedula" class="label">Cédula*</label>
                    <input type="text" name="cedula" id="cedula" />
                </span>
                <span class="input-span">
                    <label for="estado" class="label">Estado*</label>
                    <select name="estado" id="estado">
                        <option value="amazonas">Amazonas</option>
                        <option value="anzoategui">Anzoátegui</option>
                        <option value="apure">Apure</option>
                        <option value="aragua">Aragua</option>
                        <option value="barinas">Barinas</option>
                        <option value="bolivar">Bolívar</option>
                        <option value="carabobo">Carabobo</option>
                        <option value="cojedes">Cojedes</option>
                        <option value="delta_amacuro">Delta Amacuro</option>
                        <option value="distrito_capital">Distrito Capital</option>
                        <option value="falcon">Falcón</option>
                        <option value="guarico">Guárico</option>
                        <option value="lara">Lara</option>
                        <option value="merida">Mérida</option>
                        <option value="miranda">Miranda</option>
                        <option value="monagas">Monagas</option>
                        <option value="nueva_esparta">Nueva Esparta</option>
                        <option value="portuguesa">Portuguesa</option>
                        <option value="sucre">Sucre</option>
                        <option value="tachira">Táchira</option>
                        <option value="trujillo">Trujillo</option>
                        <option value="vargas">Vargas</option>
                        <option value="yaracuy">Yaracuy</option>
                        <option value="zulia">Zulia</option>
                    </select>
                </span>
            </div>
            <div class="form-row">
                <span class="input-span">
                    <label for="telefono" class="label">Número de Teléfono*</label>
                    <input type="tel" name="telefono" id="telefono" />
                </span>
                <span class="input-span">
                    <label for="pago" class="label">Forma de pago*</label>
                    <select name="pago" id="pago">
                        <option value="Pago movil">Pago Movil</option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Zelle">Zelle</option>
                    </select>
                </span>
            </div>
            <span class="span">Al enviar al WhatsApp autorizo el uso de<a href="#"> mis datos personales</a></span>
            <button type="button" onclick="enviarWhatsApp()"><span>Enviar a WhatsApp</span></button>
        </form>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Uso de sus Datos</h2>
                <p>Rifas El Trébol, con domicilio en Carabobo,es responsable del uso y tratamiento de sus datos
                    personales.</p>
                <h3>Transparencia</h3>
                <p>Sus datos personales serán tratados de manera pública con el objetivo de garantizar la transparencia
                    del evento. Esto incluye la posibilidad de comunicación a través de diversos medios, tales como la
                    web, teléfono, correo electrónico, SMS, entre otros.</p>
            </div>
        </div>
        <div class="card2">
            <span class="cardtitle2">Verifica tu ticket</span>
            <p class="cardcontent2">Ingresa el numero de ticket y presiona el boton
                'Verificar' para saber si tu ticket ha sido pagado.
            </p>
            <div class="card__form2">
                <input placeholder="Numero de ticket" type="text" id="idboleto">
                <button type="button" class="sign-up2" onclick="check()"><span>Verificar
                    </span></button>
            </div>
        </div>
        <div id="resultado" class="resultado"></div>
    </main>

    <footer>
        <section class="footer">
            <div class="titulo_footer">
                <h1><i><b>Rifas el Trebol</b></i></h1>
            </div>
            <div class="informacion">
                <h3 id="Redes">Redes sociales: </h3>
                <div class="iconos">
                    <a href="https://www.instagram.com/trebolvnzl?igsh=dXFpNzQ4OTh0c3A%3D&utm_source=qr"
                        target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-solid fa-envelope"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <h3 id="info_numero">Numero de telefono: +58 424-4061953 </h3>
            </div>

        </section>
    </footer>
    <script>
        document.querySelector('a[href="#"]').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('myModal').style.display = "block";
        });

        document.querySelector('.close').addEventListener('click', function () {
            document.getElementById('myModal').style.display = "none";
        });

        document.getElementById('closeModal').addEventListener('click', function () {
            document.getElementById('myModal').style.display = "none";
        });

        window.addEventListener('click', function (event) {
            if (event.target == document.getElementById('myModal')) {
                document.getElementById('myModal').style.display = "none";
            }
        });
    </script>
    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script type="module" src="../js/prueba.js"></script>
</body>

</html>