<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rifas el Trebol</title>
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/generales.css">
</head>

<body>

    <header>
        <section>
            <div>
                <nav class="nav-menu">
                    <ul>
                        <li><a href="../index.html"><span class="nav-text">Inicio</span></a></li>
                        <li><a href="rifas.html"><span class="nav-text">Rifas</span></a></li>
                        <li><a href="contacto.html"><span class="nav-text">Contacto</span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <section class="top">
            <div class="topFlex">
                <div class="card">
                    <div class = "image"><img src="../Imagenes/carro.jpg" class = "image" ></div>
                    <span class="price">a</span>
                    <span class="price">&#128178;20</span>
                </div>
                <div class="descripcion">
                    <h1>Porcentaje de boletos vendidos</h1>
                    <p>Descripcion: Moto</p>
                </div>
            </div>
            <div class="topFlex">
                <div class="card">
                    <div class = "image"><img src="../Imagenes/carro.jpg" class = "image" ></div>
                    <span class="title">&#128178;20</span>
                    
                </div>
                <div class="descripcion">
                    <h1>Porcentaje de boletos vendidos</h1>
                    <p>Descripcion: Moto</p>
                </div>
            </div>
            <div class="topFlex">
                <div class="card">
                    <div class = "image"><img src="../Imagenes/carro.jpg" class = "image" ></div>
                    <span class="price">a</span>
                    <span class="price">&#128178;20</span>
                </div>
                <div class="descripcion">
                    <h1>Porcentaje de boletos vendidos</h1>
                    <p>Descripcion: Moto</p>
                </div>
            </div>
        </section>
        <section class="bottom">
            <div class="bottomFlex">
                <div class="Flex">
                    <h1>&#128197; Fecha de la rifa ,</h1>
                    <h1>&#128338; Hora de la rifa</h1>
                </div>
                <h1>Boletos Disponibles</h1>
                <h1>comentario aqui va cantidad de boletos disponibles</h1>
            
                <div class="Flex">
                    <button><span>&#128302;Prueba Tu Suerte</span></button>

                    <button><span>&#128467; Comprar por numero</span></button>

                </div>
        </section>
    </main>

    <footer>
        <section>
            <div class="footer">
                <h1><i><b>Rifas el Trebol</b></i></h1>
                <h3>Redes sociales: </h3>
                <h3>Numero de telefono: </h3>
            </div>
        </section>
    </footer>

</body>

</html>