<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rifas el Trebol</title>
    <link rel="stylesheet" href="../css/template.css">
    <link rel="stylesheet" href="../css/generales.css">
    <script src="../js/archivo.js"></script>

</head>

<body>

    <header class="header">
        <nav class="navbar">
            <h1 class="logo">Logo</h1>

            <label class="labe_hamburguesa" for="menu_hamburguesa">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="list_icon"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </label>

            <input class="menu_hamburguesa" type="checkbox" name="" id="menu_hamburguesa">

            <ul class="ul_links">
                <li class="li_links">
                    <a href="../index.html" class="link">Inicio</a>
                </li>
                <li class="li_links">
                    <a href="rifas.html" class="link">Rifas</a>
                </li>
                <li class="li_links">
                    <a href="#Redes" class="link">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="top">
            <div class="topFlex">
                <div class="card">
                    <div class="image"><a href="pago.html"><img src="../Imagenes/carro.jpg" class="image"></a></div>
                    <span class="title">&#128178;10</span>
                    <h3 class="ayuda_compra">para comprar haz click en la imagen</h3>
                </div>

                <div class="descripcion">
                    <h3 id="texto_meta">Nuestra meta:</h3>
                    <div class="containerbar">

                        <div class="progress-bar__container">

                            <div class="progress-bar">
                                <span class="progress-bar__text">Uploaded Successfully!</span>
                            </div>
                        </div>
                        <div class="info_rifa">
                            <h1>&#128197; Fecha de la rifa ,</h1>
                            <h1>&#128338; Hora de la rifa</h1>
                            <p>Descripcion: Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime optio
                                ipsum
                                libero adipisci iste, cum ut illo voluptates? Deserunt temporibus necessitatibus
                                veritatis
                                quisquam ad aliquid est natus molestiae enim fuga.
                                Illo, unde vero beatae excepturi deleniti est! Iusto dignissimos beatae inventore
                                voluptate
                                perferendis, eum cupiditate asperiores? Exercitationem, cum at in corporis delectus
                                enim
                                inventore molestias cupiditate accusamus consequuntur hic nihil.</p>
                        </div>
                    </div>

                </div>

            </div>

        </section>
    </main>

    <footer>
        <section class="footer">
            <div class="titulo_footer">
                <h1><i><b>Rifas el Trebol</b></i></h1>
            </div>
            <div class="informacion">
                <h3 id="Redes">Redes sociales: </h3>
                <div class="iconos">
                    <a href="https://www.instagram.com/trebolvnzl?igsh=dXFpNzQ4OTh0c3A%3D&utm_source=qr"
                        target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-solid fa-envelope"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
                <h3 id="info_numero">Numero de telefono: +58XXXXXXXXXX </h3>
            </div>

        </section>
    </footer>

    <script src="https://kit.fontawesome.com/003123b854.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script type="module" src="../js/prueba.js"></script>
</body>

</html>